@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  background-color: var(--bg-primary-100);
  min-height: 100vh;
  text-align: center;
}

.container {
  padding-inline: 1rem;
  width: 100%;
  display: block;
  &--quote {
    padding: 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  &--header {
    padding-block: 1.5rem;
    justify-content: space-between;
    width: 100%;
  }
  &--stats {
    flex-direction: column;
    gap: 2rem;
  }

  &--footer {
    flex-direction: column;
    gap: 2rem;
  }

  &--social-media {
    justify-content: space-between;
    gap: 1.75rem;
  }
}

.stat {
  padding-block: 1.5rem;
}

.footer {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
