@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  background-color: var(--bg-primary-100);
  min-height: 100vh;
  text-align: center;
}

.container {
  padding-inline: 1rem;
  width: 100%;
  margin-inline: auto;
  &--quote {
    padding: 0;
  }
}

.header {
  padding-block: 1.5rem;
}

.stat {
  padding-block: 3.5rem;
}

@media (min-width: $tablet-size) {
  .container {
    max-width: $tablet-size;
    padding-inline: 2rem;
  }

  .container--hero {
    padding-right: 9.75rem;
  }

  .header {
    padding-block: 2.5rem;
  }
  .stat {
    padding-block: 5.625rem;
  }
}
