@use '../utils' as *;

.footer {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 29.5rem;
    top: -29.5rem;
    width: 100%;
    left: 0;
    background-color: var(--bg-primary-500);
    z-index: -1;
  }
}

@media (min-width: $tablet-size) {
  .footer {
    padding-top: 4.75rem;
    padding-bottom: 4.5rem;
  }
}

@media (min-width: $desktop-size) {
  .footer::before {
        height: 16.5rem;
    top: -16.5rem;
  }
}
