@use '../utils' as *;

.quote {
  padding: 2.5rem 1rem 4rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  &__curve {
    margin-bottom: 2.25rem;
  }

  &__header {
    margin-bottom: 2.5rem;
  }

  &__text {
    margin-bottom: 2.5rem;
  }

  &__photo-box {
    position: relative;
    height: 221px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 13rem;
    background-image: url('../assets/pattern-blur.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__photo {
    position: absolute;
    width: 252px;
    left: 50%;
    transform: translateX(-45%);
    bottom: 0;
  }
}

@media (min-width: $tablet-size) {
  .quote {
    padding-inline: 3.625rem;
  }
}

@media (min-width: $desktop-size) {
  .quote {
    padding-block: 5.5rem;
    padding-left: 39.625rem;
    padding-right: 7.75rem;
    margin-top: 18.5rem;
    border-radius: 15px;
    text-align: left;
    position: relative;
    background-image: url('../assets/pattern-blur.svg');
    background-repeat: no-repeat;
    background-position: 0px 100px;
  }

  .quote__curve {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .quote__photo {
    transform: translate(50%, 17.1%);
    z-index: 2;
    scale: 1.46;
  }
}
