:root {
  --ff-primary: 'Epilogue', sans-serif;

  --fs-200: 0.5rem;
  --fs-300: 0.875rem; //14px
  --fs-350: 0.9375rem; //15px CONST
  --fs-400: 1rem; // 16px CONST
  --fs-450: 1rem; // 16px
  --fs-500: 1.125rem; //18px
  --fs-550: 1.125rem; //18px CONST
  --fs-600: 2.5rem; //40px
  --fs-650: 3rem; //48px CONST
  --fs-700: 2.375rem; //38px

  --button-accent-400: #a060ff;
  --button-accent-500: #cb30e3;
  --button-accent-600: #ffa84e;

  --text-primary-100: #faf8f6;
  --text-primary-400: #f3ede7;
  --text-primary-500: #49566d;
  --text-primary-700: #172339;

  --bg-primary-100: var(--text-primary-100);
  --bg-primary-500: var(--text-primary-400);
  --bg-primary-600: var(--text-primary-700);
  --button-primary-500: var(--text-primary-700);

  --button-gradient-500: linear-gradient(
    135deg,
    var(--button-accent-400) 0%,
    var(--button-accent-500) 49.21%,
    var(--button-accent-600) 100%
  );
}

$tablet-size: 48em;
$desktop-size: 64em;

@media (min-width: $tablet-size) {
  :root {
    --fs-300: 1rem;
    --fs-700: 3.5rem;
  }
}

@media (min-width: $desktop-size) {
  :root {
    --fs-450: 1.125rem;
    --fs-550: 1.25rem;
    --fs-600: 3rem;
    --fs-700: 4.5rem;
  }
}
